---
import Main from '../layouts/main.astro';
---
<Main title="Podcasts">
    <main class="flex flex-col items-center justify-center w-full flex-1 px-20 text-center">
        <h1 class="text-6xl font-bold">
            Podcasts
        </h1>
        <p class="mt-3 text-2xl">
            What Podcasts am I listening to?
        </p>
        <br />
        <p class="mt-3 text-xl font-bold">
            Tech Podcasts
        </p>
        <ul class="list-disc">
            <li><a href="https://www.jupiterbroadcasting.com/show/coder-radio/" target="_blank" class="hover:text-rose-800">Coder Radio</a></li>
            <li><a href="https://www.jupiterbroadcasting.com/show/linux-unplugged/" target="_blank" class="hover:text-rose-800">Linux Unplugged</a></li>
            <li><a href="https://darknetdiaries.com" target="_blank" class="hover:text-rose-800">Darknet Diaries</a></li>
            <li><a href="https://geniusbarpodcast.com" target="_blank" class="hover:text-rose-800">Genius Bar</a></li>
            <li><a href="https://www.jupiterbroadcasting.com/show/office-hours/" target="_blank" class="hover:text-rose-800">Office Hours</a></li>
            <li><a href="https://www.jupiterbroadcasting.com/show/self-hosted/" target="_blank" class="hover:text-rose-800">Self-Hosted</a></li>
            <li><a href="https://www.smashingsecurity.com" target="_blank" class="hover:text-rose-800">Smashing Security</a></li>
            <li><a href="https://malicious.life" target="_blank" class="hover:text-rose-800">Malicious Life</a></li>
            <li><a href="https://www.redhat.com/en/command-line-heroes" target="_blank" class="hover:text-rose-800">Command Line Heros</a></li>
        </ul>
        <p class="mt-3 text-xl font-bold">
            News Podcasts
        </p>
        <ul class="list-disc">
            <li><a href="https://www.npr.org/podcasts/510318/up-first" target="_blank" class="hover:text-rose-800">NPR Up First</a></li>
            <li><a href="https://www.vox.com/today-explained-podcast" target="_blank" class="hover:text-rose-800">Today Explained</a></li>
            <li><a href="https://www.smashingsecurity.com" target="_blank" class="hover:text-rose-800">Smashing Security</a></li>
            <li><a href="https://www.theverge.com/the-vergecast" target="_blank" class="hover:text-rose-800">The Vergecast</a></li>
            <li><a href="https://www.jupiterbroadcasting.com/show/linux-action-news/" target="_blank" class="hover:text-rose-800">Linux Action News</a></li>
        </ul>
        <p class="mt-3 text-xl font-bold">
            Story/Essay Podcasts
        </p>
        <ul class="list-disc">
            <li><a href="https://archive.org/details/podcast_pounded-in-the-butt-by-my-own_1347293924" target="_blank" class="hover:text-rose-800">Pounded In The Butt By My Own Podcast</a></li>
            <li><a href="https://www.bbc.co.uk/programmes/p07nkd84/episodes/downloads" target="_blank" class="hover:text-rose-800">The Missing Cryptoqueen</a></li>
            <li><a href="https://www.vox.com/land-of-the-giants-podcast" target="_blank" class="hover:text-rose-800">Land of the Giants</a></li>
            <li><a href="https://www.focusfeatures.com/podcast/unerased" target="_blank" class="hover:text-rose-800">UnErased: The History of Conversion Therapy in America</a></li>
        </ul>
    </main>
</Main>